  <div class="row">
    <div class="grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <ngb-tabset type="pills" class="pills-success">
            <ngb-tab title="Assignemnts">
              <ng-template ngbTabContent>
                <app-assignment-table></app-assignment-table>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Books">
              <ng-template ngbTabContent>
                <div class="media">
                  <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/11.jpg" alt="sample image">
                  <div class="media-body">
                    <p>Books will be displayed Here</p>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Video Conferencing">
              <ng-template ngbTabContent>
                <div class="media">
                  <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/14.jpg" alt="sample image">
                  <div class="media-body">
                    <p>
                     Video Conferencing will be Hosted here!
                    </p>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  